* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393e;
    color: rgb(222, 222, 222);
    font-family: sans-serif;
    background-image: url(../images/background.svg);
}

#main {
    animation: fadeIn 1s;
    display: flex;
}

.blueborder,
.blueborder * {
    background-color: #4a55cc;
    border-radius: 30px;
    padding: 0 2vw;
}

a {
    color: white;
}

hr {
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width:600px) {

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }
}

#header {
    display: flex;
    flex-wrap: wrap;
    background-color: #090d15;
    width: 100%;
    padding: 1vh 0;
}

#header div {
    border-left: 1px solid rgb(222, 222, 222);
    padding: 0 2vw;
}
#header:first-child {
    border-left: none;
    color:red;
}