body,
html {
    text-align: center;
}

#main {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#mainimage iframe {
    /*Force video to conform with #mainimage */
    width: 100%;
    height: 100%;
}

#socials {
    width: 80vw;
    padding: 0 4vw;
}

#socialsIcons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#socialsIcons a {
    width: 50px;
}

#socialsIcons a img {
    width: 100%;
    height: 100%;
}

#socialsText div {
    /*When a socialsIcons is clicked, the corresponding socialsText div will change display: from none to block*/
    display: none;
}

#socialsText div:target {
    display: inline;
}
#socialsText #socialsTextBlank {
    display: inline;
}


@media  screen and (max-width: 800px) {
    #main div {
        margin: 3vh 0;
    }
}
@media screen and (min-width: 800px) {

    #main {
        flex-direction: row;
        align-items: start;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #maintext {
        padding: 20vh 13vw;
    }

    #mainimage {
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 95vh;
        justify-content: center;
        background-color: #5561eada;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #mainimage iframe {
        width: 80%;
        height: 40vh;
        margin: 0 10%;
    }

    #socials {
        width: auto;
        margin: 25vh 10vw;
    }
}