body {
    display: flex;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    background: #4e54c8;
}
p {
    font-size: 20px;
}

.center {
    text-align: center;
}

#main {
    padding: 5vw;
}

#homeicon {
    width: 50px;
    height: 50px;
    background-image: url('images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Start of css for navbar */
#navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#navbar a {
    color: white;
    border: none;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #838383;
}

#navbar a img {
    width: 20px;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: blue;
    transition: width 0.2s ease-in-out;
}
/*End of CSS for Navbar*/

/*Start of CSS for Articles*/
#main {
    display: inline-block;
}

.page {
    width: 100%;
    min-height: 150vh;
    padding: 0;
    margin: 0;
}

#mainText {
    padding-top: 30vh;
    font-size: 50px;
}

.article {
    display: flex;
}

.articleimage {
    padding-left: 5vw;
    max-width: 30vw;
    cursor: zoom-in;
}

@media screen and (max-width:800px) {
    .article {
        display: inline;
    }

    .articleimage,
    .article {
        padding: 0 2vw;
        max-width: 95%;
    }

}

/*End of CSS for Articles*/


.circles {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.circles li {
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 60s cubic-bezier(0, 0, 0.5, 1) infinite;
    bottom: -150px;

}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-200vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}